.btn {
    padding: 0.2rem 0.5rem;
    font-size: $text-sm;
    font-weight: 500;
    border-radius: $radius;
    box-shadow: $btn-shadow;
}

.btn-lg, .btn-group-lg > .btn {
    padding: 0.4rem 1rem;
    font-weight: 500;
    font-size: 1.0625rem;
    line-height: 1.5;
}


.btn-round {
    border-radius: 2rem;
    height: 1.8125rem;
    width: 1.8125rem;
    font-weight: 700;
}
