//----------//
//  Colors  //
//----------//

$normal: rgb(55, 53, 47);
$active: rgb(55, 53, 47);
$muted: rgba(25, 23, 17, 0.6);


$active-bg: rgba(55, 53, 47, 0.08);
$muted-bg: rgb(247, 246, 243);

$muted-icon: rgba(55, 53, 47, 0.4);
$active-icon: rgb(55, 53, 47);

$border-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 2px 4px;
$border-shadow-top: rgba(55, 53, 47, 0.09) 0px -1px 0px;
$btn-shadow:rgba(15, 15, 15, 0.1) 0px 0px 0px 1px inset, rgba(15, 15, 15, 0.1) 0px 1px 2px;

$row-height: 45px;

$radius: 0.25rem;

$text-base: 1rem;
$text-sm: .875rem;
$text-lg: 1.125rem;