.block-bookmark-title {
    font-size: 14px;
    line-height: 20px;
    color: rgb(55, 53, 47);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 24px;
    margin-bottom: 2px;
}

.block-bookmark-body {
    font-size: 12px;
    line-height: 16px;
    color: rgba(55, 53, 47, 0.6);
    height: 40px;
    overflow: hidden;

    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.block-bookmark-footer {
    font-size: 12px;
    line-height: 16px;
    color: rgb(55, 53, 47);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.block-bookmark-image {
    object-fit: cover;
    width: 100%;
}

.block-left {
    height: 125px;
}

.block-right {
    max-height: 125px;
    overflow: hidden;
}