@import "../../styling/mixins.scss";
@import "../../styling/variable.scss";

.header {
    background-color: $green;
    padding: 10px;
    display: flex;
    justify-content: space-between;

    .iconCenter {
        color: white;
        display: flex;
        align-items: center;
    }

    .user {
        display: flex;
        align-items: center;
        color: white;
        width: 18%;
        justify-content: space-around;
        img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
        }
        .root {
            position: relative;
        }
        .dropdown {
            position: absolute;
            top: 28px;
            left: -100px;
            z-index: 1;
            border: "1px solid";
            padding: 5px;
            background-color: whitesmoke;
            color: black;
            width: 100px;
        }
        p {
            margin-top: 1rem;
        }
    }
}

.search {
    width: 100%;
    height: 30px;
    border: 0px;
    box-shadow: 0px 15px 10px -15px #111;
    outline: none;
    position: relative;
    color: $text-primary;
}
.searchIcon {
    position: absolute;
    width: 24px;
    height: 24px;
    z-index: 2;
    color: $text-primary;
}
