@import "../../styling/mixins.scss";
@import "../../styling/variable.scss";

.frame {
    width: 97%;
    background-color: white;
    margin-top: 6%;
    border: 1px solid $text-primary;
    border-radius: 6px;
    margin-left: 2%;
    margin-right: 1%;
}
