.sidebar-wrapper {
    background-color: $muted-bg;
    border-right: 0 solid #a4b7c1;
    box-shadow: 0 0 0 1px rgba(15, 15, 15, 0.1), 0 2px 4px rgba(15, 15, 15, 0.1);
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin-left: -275px;
    position: sticky;
    top: 0;
    transition: margin 0.25s ease-out;
    z-index: 1019;
    max-height: 100vh;
}

@media (min-width: 768px) {
    .sidebar-wrapper {
        margin-left: 0;
    }
}

.sidebar-wrapper .sidebar-heading {
    font-size: 1.2rem;
}

.sidebar-wrapper .list-group {
    width: 275px;
}

.list-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    padding-left: 0;
}

.nav-link {
    &:hover {
        background: rgba(55, 53, 47, 0.08);
        color: rgba(25, 23, 17, 0.6);
        cursor: pointer;
        transition: background 0.12s ease-in 0s;
    }

    &.active {
        background: rgba(55, 53, 47, 0.08);
        color: #37352f;
    }

    a {
        border-radius: 0;
        color: $muted;
    }
}

.nav-item {
    li {
        font-weight: 500;
    }
}

.active {
    background-color: $active-bg;
    color: $active;
    font-weight: 600;
}
