.active-text {
  color: $active;
}

.muted-text {
  color: $muted;
}

.muted-icon{
  color: $muted-icon;
}

.muted-bg {
  background-color: $muted-bg;
}

.white-bg {
  background-color: $white;
}

.white {
  color: white!important;
}

.pink {
  background-color: pink;
}