.w-100 {
    width: 100%;
}

.h-v100 {
    height: 100vh;
    max-height: 100vh;
}

.h-v100-main {
    height: calc(100vh - 145px);
}
.h-v100-map {
    height: calc(100vh - 100px);
}

.h-row {
    height: $row-height;
}

.h-inherit {
    height: inherit;
}

.w-55px {
    width: 55px;
}
